html
  head
    title Usuario
  body
    h1 Modificar usuario
    form(action="/usuarios/update" method="PUT")
      label(for="nombre") Nombre: 
      input(type="text" name="nombre" required)
      br
      label(for="apellido") Apellido:
      input(type="text" name="apellido" required)
      br
      label(for="domicilio") Domicilio:
      input(type="text" name="domicilio" required)
      br
      label(for="telefono") Telefono:
      input(type="text" name="telefono" required)
      br
      label(for="email") Email:
      input(type="text" name="email" required)
      br
      
      button(type="submit") Ingresar
  